.dropdown-wrapper
    a.dropdown-btn#dropdown
      span на год
      span.dropdown-btn__sale#sale -20%
    ul.dropdown
      li.dropdown__item на 1 месяц
      li.dropdown__item на 3 месяца
      li.dropdown__item на год
        .dropdown__sale -20%
      li.dropdown__item на 2 года
        .dropdown__sale -30%