.dropdown-wrapper {
    position: relative;

    .dropdown-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 160px;
        height: 33px;
        border: 2px solid $blue02;
        border-radius: 15px;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 20px;
        color: $colorBlack;
        font-weight: 600;
        transition: 0.3s ease;

        &__icon {
            width: 17px;
            height: 17px;
            position: absolute;
            top: 10px;
            right: 5px;
            
        }

        &__sale {
            width: 44px;
            height: 22px;
            background-color: $yellow;
            transform: skewX(-10deg);
            display: flex;
            align-items: center;
            justify-content: center;

            &_hidden {
                display: none;
            }
        }

        &_toggled {
            border-radius: 0;
            transition: 0.3s ease;
        }
    }

    .dropdown {
        padding: 5px 15px 15px 15px;
        width: 160px;
        background-color: #f8f9fa;
        display: none;
        position: absolute;
        top: 100%;
        z-index: 100;

        &__item {
            margin-top: 15px;
            color: $colorGray;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            cursor: pointer;
        }

        &__sale {
            width: 44px;
            height: 22px;
            background-color: $yellow;
            text-align: center;
            transform: skewX(-10deg);
            font-weight: bold;
            color: $colorBlack;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
        }
    }
}
