// Font
$mainFont: "Montserrat", "Open Sans", sans-serif;

// Colors
$green01: #e3f3a4;
$green02: #f5fdd6;
$green03: #a3cd00;
$yellow: #ffd91a;
$blue01: #caf0fc;
$blue02: #3bc8f5;
$blue03: #e7f9ff;
$blue04: #21bdee;
$lime: #d6f76f;
$colorGreen: #7c9b00;
$colorBlack: #262626;
$colorBlue01: #0050af;
$colorBlue02: #6398d2;
$colorBlue03: #00446f;
$colorGray: #9ea9ad;